@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Barlow+Condensed&family=Exo+2&family=Henny+Penny&family=Rye&family=Sacramento&family=Tinos&display=swap");

.custom-cursor {
  cursor: url("https://jodeaux.agency/assets/img/portfolio/bluehand_img_mini-tp.png"),
    auto;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #121e34;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  margin: auto;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.logoLink {
  color: #ccc;
  font-size: 26px;
  text-transform: uppercase;
  text-decoration: none;
}
.logoLink:hover {
  color: darksalmon;
}

.navbar {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: right;
  height: 100%;
}

.navbarLink {
  margin: 0 10px;
  padding: 5px 20px;
  color: #ccc;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.navbarLink:hover {
  color: darksalmon;
}
/*main section*/
.hero {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #121e34;
}
.heading {
  margin: 0 0 20px 0;
  padding: 10px 0;
  color: #aaa;
  font-weight: 400;
  font-size: 4rem;
  letter-spacing: 1px;
  text-align: center;
}
.glow {
  color: white;
  text-shadow: 0 0 2px white, 0 0 10px white, 0 0 20px #50c752, 0 0 30px #50c752,
    0 0 40px #50c752;
  animation: blink 1.5s infinite alternate;
}
.glow-footer {
  color: white;
  text-shadow: 0 0 0px white, 0 0 0px white, 0 0 00px #50c752, 0 0 00px #50c752,
    0 0 30px #50c752, 0 0 30px #50c752;
  animation: blink 1.5s infinite alternate;
}
span {
  color: white;
  text-shadow: 0 0 2px white, 0 0 10px white, 0 0 20px #50c752, 0 0 30px #50c752,
    0 0 40px #50c752, 0 0 50px #50c752;
  animation: blink 1.5s infinite alternate;
}
.headerImg {
  width: 90%;
  height: 1040px;
  margin: auto;
  padding-top: 50px;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("https://jodeaux.agency/assets/img/portfolio/portfolio-20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 20px;
}
.image1 {
  display: flex;
  width: 800px;
  height: 1000px;
  margin: 0px 5px;
  border-radius: 14px;
}
.image2 {
  display: flex;
  width: 900px;
  height: 500px;
  margin: auto;
  border-radius: 14px;
}
.image-about {
  display: flex;
  width: 800px;
  height: 800px;
  margin: 0px 5px;
  border-radius: 14px;
}
.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 40px 0;
  color: white;
  background: #121e34;
}
.newsHeading {
  margin: 20px 0;

  padding: 0px 9px;
  font-size: 54px;
}
.sb-title {
  font-family: "Henny Penny";
}
.newsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
}
.newsTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 0 60px;
  font-weight: 460;
}
.newsTitleHeading {
  margin: 0 0 20px 0;
  font-size: 36px;
}
.newsTitleContent {
  margin: 0 0 10px 0;
  font-size: 28px;
}

.newsRight {
  display: flex;
  justify-self: flex-end;
  width: 50%;
  height: 420px !important;
  /* border: 1px solid red; */
}
.newsRightImg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 20px;
}
.portfolioImg1,
.portfolioImg2,
.portfolioImg3,
.portfolioImg4,
.portfolioImg5 {
  width: 1000px;
  height: 320px;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 75px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.explore-img1 {
  width: 100%;
  height: 1040px;
  margin-top: 50px;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("https://jodeaux.agency/assets/img/portfolio/portfolio-23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  border-radius: 20px;
}
.explore-text {
  margin-top: 50px;
}
.about-img1 {
  width: 100%;
  height: 1040px;
  margin-top: 50px;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("https://jodeaux.agency/assets/img/portfolio/portfolio-22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* padding: 500px; */
  /* border: 1px solid red; */
  border-radius: 20px;
}
.about-text {
  margin-top: 50px;
}

.store {
  background-color: #131e34;
}
.store-text {
  margin-top: 20px;
  padding-bottom: "20px";
  color: "white";
  font-family: "Roboto", sans-serif;
  text-align: "center";
}
.store-img1 {
  width: 90%;
  height: 1040px;
  margin-top: 50px;
  padding: 500px;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("https://jodeaux.agency/assets/img/portfolio/portfolio-26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 20px;
}
/*archives section*/
.archives {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40vh;
  padding: 40px 0;
  color: white;
  background-color: #121e34;
}
.archivesDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.archivesTitle {
  margin: 20px 0 0;
  font-size: 28px;
}
.archivesText {
  margin: 10px 0;
  font-size: 20px;
}
/*archives section*/

/*author page*/
.authorImg {
  width: 100%;
  height: 1040px;
  margin-top: 50px;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("https://jodeaux.agency/assets/img/portfolio/portfolio-18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* padding: 500px; */
  border-radius: 50px;
}
.p-quote {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 48px;
}
.story-summary {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 24px;
}
.next-book {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 36px;
}
.thanks {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 36px;
}
/*footer section*/
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  color: white;
  background-color: black;
}
.footerLink {
  padding: 5px 10px;
  color: #ccc;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}
.footerLink:hover {
  color: darksalmon;
}

.footerText {
  margin: 0 0 0 10px;
  color: #999;
  font-size: 16px;
}
.center-text {
  text-align: center;
}
.hemburguricon {
  width: 100px;
}
.hemburgurIconBox a {
  display: block;
  margin-bottom: 15px;
  text-align: center;
}
.hemburgurIconBox {
  position: absolute;
  top: 90px;
  left: 0px;
  display: none;
  width: 100%;
  padding: 10px 0px 20px 0px;
  background-color: black;
}
.hemburguricon {
  display: none;
}

/* character card styling */
.card {
  margin-bottom: 20px;
  padding: 20px;
  /* Basic card styling */
  background-color: black;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  /* Adjust image size as needed */
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.card-title {
  margin-bottom: 10px;
  /* Style card title */
  font-size: 1.5rem;
  text-align: center;
}

.card-content {
  width: 600px;
  margin: auto;
  color: #fff;
  /* Style card content */
  font-size: 20px;
  line-height: 2;
  text-align: center;
}

.card-with-background {
  width: 50%;
  margin: auto;
  background-image: url("/assets/bg_gradient_sb.png"); /* Replace with your image URL */
  background-position: center; /* Centers the image within the card */
  background-size: cover; /* Fills the entire card area */
}

/*media queries for tablet*/
@media only screen and (max-width: 1200px) {
  .navbar {
    display: none;
  }
  .hemburgurIconBox {
    display: block;
  }
  .hemburguricon {
    display: block;
  }
  .heading1 {
    font-size: 2.5rem;
  }

  .heading2 {
    font-size: 35px;
  }
  .p1 {
    font-size: 23px;
    line-height: 33px;
  }
  .textBox {
    width: 80%;
  }
  .p2 {
    font-size: 22px;
  }
  /*Tablets [601px -> 1200px]*/
}

@media screen and (max-width: 768px) {
  .portfolioImg1,
  .portfolioImg2,
  .portfolioImg3,
  .portfolioImg4,
  .portfolioImg5 {
    margin-top: 7px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .heading1 {
    font-size: 1.5rem;
  }
  .heading2 {
    font-size: 20px;
  }
  .newsHeading {
    margin: 0px 0px;
  }
  .heading3 {
    font-size: 20px;
    text-align: center;
  }
  .newsContainer {
    padding: 10px 0px;
  }
  .p1 {
    font-size: 18px;
    line-height: 29px;
  }
  .newsContainer {
    flex-direction: column;
  }
  .column-reverse {
    flex-direction: column-reverse;
  }
  .newsRight {
    width: 100%;
    height: 320px !important;
    /* border: 1px solid red; */
  }
  .newsTitle {
    width: 100%;
    padding: 0 20px;
  }
  .archives {
    flex-direction: column;
  }
}

/*media queries for mobile*/

@media screen and (max-width: 600px) {
  .hemburguricon {
    width: 70px;
  }
  .logoLink {
    font-size: 18px;
  }
  .navbarLink {
    margin-bottom: 0px !important;
    font-size: 17px;
  }
  .header {
    height: auto;

    padding: 0px 0px;
    padding-bottom: 30px;
  }
  .next-book {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 23px;
  }
  .thanks {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 23px;
  }

  .logo {
    /* align-self: start; */
  }
  .navbar {
    flex-direction: column;
  }
  .navbarLink {
    margin: 10px 0;
  }
  .heading {
    padding: 0 30px;
  }
  .headerImg {
    width: 95%;
  }
  .archivesTitle {
    font-size: 20px;
  }
  .footerLink {
    font-size: 15px;
  }
  .footer {
    height: 64px;
  }

  .card-content {
    width: 363px;
    margin: auto;
    color: #fff;
    /* Style card content */
    font-size: 20px;
    line-height: 2;
    text-align: center;
  }
  .image1 {
    width: 400px;
    height: 600px;
    margin: 0px 5px;
    border-radius: 14px;
  }
  .image2 {
    width: 400px;
    height: 300px;
    margin: 0px 5px;
  }
}

@media screen and (max-width: 500px) {
  .heading1 {
    font-size: 1rem;
  }
  .heading3 {
    font-size: 20px;
    text-align: center;
  }

  .p2 {
    font-size: 15px;
  }
  .image1 {
    width: 400px;
    height: 600px;
    margin: 0px 5px;
    border-radius: 14px;
  }
  .image2 {
    width: 400px;
    height: 350px;
    margin: 0px 5px;
    border-radius: 14px;
  }
}

@media screen and (max-width: 400px) {
  .heading1 {
    font-size: 1rem;
  }
  .heading2 {
    font-size: 16px;
  }

  .p1 {
    font-size: 15px;
    line-height: 23px;
  }
  .archivesTitle {
    font-size: 17px;
  }
  .image1 {
    width: 400px;
    height: 600px;
    margin: 0px 5px;
    border-radius: 14px;
  }
  .image2 {
    width: 400px;
    height: 350px;
    margin: 0px 5px;
    border-radius: 14px;
  }
}

@media screen and (max-width: 600px) {
  .pageTitle {
    margin: 0px 0px !important ;
  }

  .card-img-top {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .card-content {
    width: 363px;
    margin: auto;
    color: #fff;
    /* Style card content */
    font-size: 20px;
    line-height: 2;
    text-align: center;
  }
  .image1 {
    width: 400px;
    height: 600px;
    margin: 0px 5px;
    border-radius: 14px;
  }
  .image2 {
    width: 400px;
    height: 350px;
    margin: 0px 5px;
    border-radius: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .image2 {
    width: 100%; /* Adjust width for mobile */
    height: auto; /* Adjust height for mobile */
  }
}
